body
{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    height: 100vh; 
}

.wrapper
{
  max-width: 1010px;
  margin: 0 auto;
  column-gap: 5px;
}

section
{
    background-color: hsl(0, 0%, 100%);
    padding: 15px 10px 20px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid;
    border-style: dotted;
    border-width: .25px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    max-width: 300px;
    min-width: 300px;
    height: 460px;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.02);
}

img
{
    width: 288px;
    max-width: 288px;
    border-radius: 8pt;
}

h1
{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0px 20px 1px 20px;
    line-height: 1.2;
}

p
{
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    line-height: 1.35;
    padding: 0px 20px 0px 20px;
}

.card1
{
    grid-column: 1 / 2;
    grid-row: 1;
    align-items: right;
}

.card2
{
    grid-column: 2 / 3;
    grid-row: 1;
}

.card3
{
    grid-column: 3;
    grid-row: 1; 
}

.card4
{
    grid-column: 2;
    grid-row: 2;   
}

@media (max-width: 1000px) 
{
    section
    {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .card1
    {
        grid-column: 1;
        grid-row: 1; 
    }

    .card2
    {
        grid-column: 1;
        grid-row: 2; 
    }

    .card3
    {
        grid-column: 1;
        grid-row: 3;     
    }

    .card4
    {
        grid-column: 1;
        grid-row: 4;     
    }
}