body
{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
    height: 100vh; 
}

section
{
    background-color: hsl(0, 0%, 100%);
    padding: 15px 10px 20px 10px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    max-width: 300px;
    min-width: 300px;
    height: 460px;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.02);
}

img
{
    width: 288px;
    max-width: 288px;
    border-radius: 8pt;
}

h1, p
{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    padding: 0px 20px 1px 20px;
    line-height: 1.2;
}

p
{
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    line-height: 1.35;
}


















  /* .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); } */
